@model PagedList.IPagedList<AppCadastroClientes.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}
@Styles.Render("~/Content/css")
<h2 class="bi bi-people-fill"> Clientes</h2>

<div>
    <div class="form">
        <a class="btn btn-primary" id="btnNovo" href="@Url.Action("Create", "Clientes")" role="button">Novo Cliente</a>
        <div class="Filtros">
            <form method="get" action="@Url.Action("Index")">
                <input class="form-check-input" type="checkbox" id="TodosAtivos" name="TodosAtivos" @(ViewBag.TodosAtivos == true ? "checked" : "")>
                <label class="form-check-label" for="TodosAtivos">Ativos</label>

                <input class="form-check-input" type="checkbox" id="TodosInativos" name="TodosInativos" @(ViewBag.TodosInativos == true ? "checked" : "")>
                <label class="form-check-label" for="TodosInativos">Inativos</label>

                <input id="txtnome" name="nome" type="text" placeholder="Nome" value="@ViewBag.Nome">
                <input id="txtdocumento" name="documento" type="text" placeholder="Documento" value="@ViewBag.Documento">
                <button type="submit" class="btn btn-outline-primary" id="btnfiltrar">Filtrar</button>
            </form>
        </div>
    </div>
</div>

<div id="clientesTable">
    @Html.Partial("_ClientesTable", Model)
</div>


<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    de @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "FiltrarClientes", new { pagina = 1, TodosAtivos = ViewBag.TodosAtivos, TodosInativos = ViewBag.TodosInativos, nome = ViewBag.Nome, documento = ViewBag.Documento })
        @Html.Raw(" ");
        @Html.ActionLink("< Anterior", "FiltrarClientes", new { pagina = Model.PageNumber - 1, TodosAtivos = ViewBag.TodosAtivos, TodosInativos = ViewBag.TodosInativos, nome = ViewBag.Nome, documento = ViewBag.Documento })
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próxima >", "FiltrarClientes", new { pagina = Model.PageNumber + 1, TodosAtivos = ViewBag.TodosAtivos, TodosInativos = ViewBag.TodosInativos, nome = ViewBag.Nome, documento = ViewBag.Documento })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "FiltrarClientes", new { pagina = Model.PageCount, TodosAtivos = ViewBag.TodosAtivos, TodosInativos = ViewBag.TodosInativos, nome = ViewBag.Nome, documento = ViewBag.Documento })
    }
</div>